.button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.videos{
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  display:flex;
  padding: 20px;
  width: auto;
  justify-content: center;
}

.video img {
    width: 280px;
    height: 280px;
    object-fit: contain;
    padding: 10px;
    background-size: auto;
    background-color: white;
    border-radius: 10px;
}

.video{
    margin: 0px 10px;
    padding: 10px;
}

.video:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

h1{
    grid-column: 1 / -1;
    padding: 5%;
}

@media (max-width: 768px) {
    .videos{
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        display:inline-block;
        padding: 20px;
        width: auto;
        justify-content: center;
    }
    .video img {
        width: 200px;
        height: 200px;
    }
    .videos button{
        display: none;
    }
}