.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.videos{
  grid-column: 1 / -1;
  display:flex;
  align-content: center;
  justify-content: center;
}

.video img {
    width: 280px;
    height: 280px;
    object-fit: contain;
}

h1{
    grid-column: 1 / -1;
}
.description {
    background-color: #f0f0f0;
    padding: 10px;
    grid-column: 1 / -1;
}
.secaoExperiencia{
    background-color: #f0f0f0;
    padding: 10px;
    text-align: justify;
}
.contato{
    background-color: #f0f0f0;
    place-items: start;
}